#tex {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.nail-content {
    background: rgb(135, 255, 179);
    padding: 15px;
}

.nail-container {
    padding: 3rem 0;
}

@media (max-width: 650px) {
    .nail-container {
        padding: 3rem 0;
    }

    #tex {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }

    .nail-content {
        background: rgb(135, 255, 179);
        padding: 15px;
    }
} ;
